<template>
  <section class="section">
    <div class="text container">
      <h1 class="title" v-translate>How to help?</h1>
      <p v-translate>Do you want to contribute to something but don't know where to start? Tell us how much time you can spend and we'll get you started!</p>
      <hr class="hidden">
      <div class="field">
        <label class="label" v-translate>How much time can you spend?</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="time" :value="null" v-model="availableTime">
            <translate translate-context="Answer to a question where the user is asked about the time they can spend">
              I don't know
            </translate>
          </label>
          <label class="radio">
            <input type="radio" name="time" :value="5" v-model="availableTime">
            <translate translate-context="Task duration">
              5 minutes
            </translate>
          </label>
          <label class="radio">
            <input type="radio" name="time" :value="15" v-model="availableTime">
            <translate translate-context="Task duration">
              15 minutes
            </translate>
          </label>
          <label class="radio">
            <input type="radio" name="time" :value="30" v-model="availableTime">
            <translate translate-context="Task duration">
              30 minutes
            </translate>
          </label>
          <label class="radio">
            <input type="radio" name="time" :value="60" v-model="availableTime">
            <translate translate-context="Task duration">
              1 hour
            </translate>
          </label>
          <label class="radio">
            <input type="radio" name="time" :value="120" v-model="availableTime">
            <translate translate-context="Task duration">
              2 hours
            </translate>
          </label>
          <label class="radio">
            <input type="radio" name="time" :value="9999" v-model="availableTime">
            <translate translate-context="Answer to a question where the user is asked about the time they can spend">More</translate>
          </label>
        </div>
      </div>
      <div class="field">
        <label class="label" v-translate>Any preference?</label>
        <b-field grouped group-multiline>
          <b-radio-button v-model="selectedTag"
                          :native-value="null">
            <b-icon icon="close"></b-icon>
            <translate>No preference</translate>
          </b-radio-button>
          <b-radio-button v-model="selectedTag"
                          v-for="tag in tags"
                          :key="tag"
                          :native-value="tag">
            <b-icon :icon="tagToIcon(tag)"></b-icon>
            <span>{{ tag }}</span>
          </b-radio-button>
        </b-field>
      </div>
      <hr class="hidden">
      <div>
        <h3 class="subtitle" v-translate>Here is a list of suggestions</h3>
        <div class="tasks">
          <task v-for="t in suggestedTasks" :task="t" :key="t.slug" />
        </div>
      </div>
    </div>
    <div class="text container contributions" v-if="stats">
      <h1 class="title">Contribution logs</h1>
      <div class="filters">
        <div class="field">
          <label class="label">Type</label>
          <div class="control">
            <div class="select">
              <select v-model="filters.type">
                <option
                  :key="option.value"
                  v-for="option in typeOptions"
                  :value="option.value">
                    {{ option.label }}
                    <template v-if="option.value">({{ stats.types[option.value] }})</template>

                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <component
        :is="getComponent(contribution.type)"
        :key="contribution.key"
        :contribution="contribution"
        @toggle-modal="toggleModal"
        v-for="contribution in contributions"></component>
      <button @click="fetch(true)" v-if="next" class="button is-medium is-fullwidth">Load more</button>
    </div>
  </section>
</template>

<script>
import axios from "axios";

import Task from "@/components/Task";
import ContributionItem from "@/components/ContributionItem";
import Issue from "@/components/Issue";
import Donation from "@/components/Donation";
import Modal from "@/components/Modal";
import TaskMixin from '../mixins/TaskMixin'
import PageMixin from "../PageMixin";


export default {
  mixins: [TaskMixin, PageMixin],
  components: {
    ContributionItem,
    Donation,
    Issue,
    Modal,
    Task
  },
  data() {
    return {
      modals: {
        donation: false,
        "dev:issue": false
      },
      contributions: [],
      filters: {
        type: null
      },
      next: null,
      stats: null,
      availableTime: null,
      selectedTag: null,
   };
  },
  created() {
    // this.fetchStats();
    // this.fetch();
  },
  methods: {
    toggleModal(type) {
      this.modals[type] = true;
    },
    getComponent(type) {
      let mapping = {
        "dev:issue": Issue,
        donation: Donation
      };
      return mapping[type] || ContributionItem;
    },
    fetchStats() {
      let self = this;
      let url = "http://localhost:8000/api/contributions/stats/";
      axios.get(url).then(response => {
        self.stats = response.data;
      });
    },
    fetch(append) {
      let self = this;
      let filters = {};
      if (this.filters.type) {
        filters.type = this.filters.type;
      }
      let promise;
      if (append) {
        promise = axios.get(this.next);
      } else {
        let url = "http://localhost:8000/api/contributions/";
        promise = axios.get(url, { params: filters });
      }
      promise.then(response => {
        if (append) {
          self.contributions = self.contributions.concat(response.data.results);
        } else {
          self.contributions = response.data.results;
        }
        self.next = response.data.next;
      });
    },
    tagToIcon(tag) {
      const map = {
        [this.$pgettext('Task tag', 'Translation')]: 'language',
        [this.$pgettext('Task tag', 'OpenStreetMap')]: 'map',
        [this.$pgettext('Task tag', 'Feedback')]: 'comments-o',
        [this.$pgettext('Task tag', 'Documentation')]: 'book',
        [this.$pgettext('Task tag', 'Support')]: 'life-ring',
        [this.$pgettext('Task tag', 'Code')]: 'file-code-o',
        [this.$pgettext('Task tag', 'Wikipedia')]: 'wikipedia-w',
        [this.$pgettext('Task tag', 'Communication')]: 'share-alt',
        [this.$pgettext('Task tag', 'Framalibre')]: 'pencil',
      }
      return map[tag];
    }
  },
  computed: {
    typeOptions () {
      return [
        { value: null, label: this.$pgettext("Contribution type", "All") },
        { value: "donation", label: this.$pgettext("Contribution type", "Donations") },
        { value: "dev:issue", label: this.$pgettext("Contribution type", "Development/Issue") }
      ]
    },
    suggestedTasks () {
      let self = this
      let tasks = this.tasks.filter(e => {
        if (e.unlisted) {
          return false
        }
        if (!self.availableTime) {
          return true
        }
        return e.duration === self.availableTime
      }).filter(e => {
        return !(this.selectedTag && e.tags && !e.tags.includes(this.selectedTag));
      })
      tasks.sort((a, b) => {
        return a.duration - b.duration
      })
      return tasks
    },
    tags() {
      return [...this.tasks.reduce((acc, task) => {
        task.tags ? task.tags.forEach(tag => acc.add(tag)) : acc;
        return acc;
      }, new Set())].sort();
    },
  },
  watch: {
    filters: {
      handler() {
        this.fetch();
      },
      deep: true
    }
  }
};
</script>
