<template>
  <div class="container">
    <h1 class="title">{{ metadata.name }}</h1>
    <p>{{ metadata.summary }}</p>
    <hr class="hidden">
    <guide-step
      v-for="(step, i) in metadata.steps"
      :key="step.title"
      :current="current"
      :step="step"
      :index="i + 1"></guide-step>
    <hr class="hidden" />
    <p class="success-message">
      <icon name="check"/>
      <translate translate-context="Success message once the task is completed">
        You're done, thank you for the help!
      </translate>
    </p>
  </div>
</template>

<script>
export default {
  props: ["metadata", "current"]
};
</script>
<style>
.success-message {
  text-align: center;
  font-size: 1.5em;
}
</style>
